<% title "All Snippets" %>

<div class="navbubble">
  <%= render :partial => "home/logindiv" %>

  <div class="floatleft">
    <p>
      &nbsp; &nbsp; &nbsp;
      <%= link_to 'New snippet', new_snippet_path %>
    </p>
  </div>
</div>

<div class="clear">

<%= render :partial => @snippets %>
