<% title "New Snippet" %>

<div class="navbubble">
  <h1>New Snippet</h1>

  <p> &nbsp;&nbsp;&nbsp;
    <%= link_to 'All Snippets', snippets_path %>
  </p>
</div>

<%= render :partial => 'snippet_form', :locals => { :snippet => @snippet, :update_text => 'Create' } %>
