<% title "Show: #{@snippet.title}" %>

<div class="navbubble">
  <%= render :partial => "home/logindiv" %>
  <p> <%= link_to 'All Snippets', snippets_path %> </p>
</div>

<%= render :partial => "snippet", :object => @snippet %>

<%= render :partial => "refactors/refactor",
           :collection => @snippet.refactors.by_karma %>
