<% title "New Refactor" %>

<div class="navbubble">
  <h1>New Refactor</h1>

  <p> &nbsp;&nbsp;&nbsp;
    <%= link_to 'This Snippet\'s Refactors', snippet_refactors_path(@snippet) %>
    <%= link_to 'All Snippets', snippets_path %>
  </p>
</div>

<%= render :partial => 'refactor_form', :locals => { :refactor => @refactor, :update_text => 'Create' } %>
