<%= render :partial => 'logindiv' %>

<div class="navbubble">
  <p>
    &nbsp;&nbsp;&nbsp; <%= link_to 'All Snippets', snippets_path %>
  </p>
</div>

<div class="navbubble">
  <p>
    Fugue Icons, by Yusuke Kamiyamane, are under a Creative Commons
    Attribution 3.0 License. <br/>
    They require a <a href="http://p.yusukekamiyamane.com">link back to
    their page of origin</a>.
  </p>
</div>
